html, body {
  margin: 0;
  padding: 0;
  width: 100%; 
}

.home-format {

}

.home-background {
  background: gray;
}

.about-format {

}

.projects-format {

}

.extras-format {

}

.contact-format {

}

.end-format {

}
