body {
  margin: 0;
  font-family: sans-serif;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 4rem;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 4rem;
}


