body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: gray;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  padding: 12px 0;
}

.navbar-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-right {
  display: flex;
  gap: 2rem;
}

.github-icon {
  width: 45px;
  height: 45px;
  object-fit: contain;
  transition: transform 0.2s ease;
  display: inline-block;
  vertical-align: middle;
}

.github-icon-hover {
  transform: scale(1.1);
}

.navbar-left {
  display: flex;
  gap: 1.5rem;
}

.nav-link:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
}


