body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding-top: 25px;
  padding-left: 6rem;
  padding-right: 4rem;
  background-color: gray;
}

.navbar-right {
  display: flex;
  gap: 2rem;
}

.github-icon {
  width: 45px;
  height: 45px;
  object-fit: contain;
  transition: transform 0.2s ease;
  display: inline-block;
  vertical-align: middle;
}

.github-icon-hover {
  transform: scale(1.1);
}

.navbar-left {
  display: flex;
  gap: 2rem;
}

.nav-link:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


