*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-color: #30292a;
}

.home-background {
  background-color: #353535;
}

.about-format {

}

.about-background {
  background-color: #30292a;
}

.projects-format {

}

.projects-background {
  background-color: #30292a;
}

.extras-format {

}

.extras-background {
  background-color: #30292a;
}

.contact-background {
  background-color: #30292a;
}

.end-format {
  align-items: center;
}

.end-background {
  background-color: #30292a;
}

.navbar {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1;
  background-color: #1b1919;
  border-bottom: 4px solid #ea3a3a; 
  padding: 1rem 0;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  align-items: center;
 }

 .navbar-content {
   justify-content: flex-start;
   font-weight: bold;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }
 
 .nav-link:link {
   color: white;
   background-color: transparent;
   text-decoration: none;
 }
 
 .nav-link:visited {
   color: white;
   background-color: transparent;
   text-decoration: none;
 }
 
 .nav-link:hover {
   color: red;
   background-color: transparent;
   text-decoration: none;
 }
 
 .nav-link:active {
   color: red;
   background-color: transparent;
   text-decoration: none;
 }
