*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

/*Home Section*/
.home {
  
}

.home-background {
  background-color: #d8cabc;
}

.dark .home-format {

}

.dark .home-background {
  background-color: #30292a;
}

/*About Section*/
.about-format {

}

.about-background {
  background-color: #bbc8d5;
}

.dark .about-format {

}

.dark .about-background {
  background-color: #30292a;
}

/*Projects Section*/
.projects-format {

}

.projects-background {
  background-color: #30292a;
}

.dark .projects-format {

}

.dark .projects-background {
  background-color: #30292a;
}

/*Extras Section*/
.extras-format {

}

.extras-background {
  background-color: #30292a;
}

.dark .extras-format {

}

.dark .extras-background {
  background-color: #30292a;
}

/*Contact Section*/
.contact-format {

}

.contact-background {
  background-color: #30292a;
}

.dark .contact-format {

}

.dark .contact-background {
  background-color: #30292a;
}

/*End Section*/
.end-format {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.end-background {
  background-color: #30292a;
}

.dark .end-format {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.dark .end-background {
  background-color: #30292a;
}

/*Navbar Section*/
.navbar {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 6px solid black; 
  padding: 1rem 2rem;
 }

.navbar-content {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  align-items: center;
}

 .nav-link:link {
   color: black;
   background-color: transparent;
   text-decoration: none;
 }
 
 .nav-link:visited {
   color: black;
   background-color: transparent;
   text-decoration: none;
 }
 
 .nav-link:hover {
   color: grey;
   background-color: transparent;
   text-decoration: none;
 }
 
 .nav-link:active {
   color: grey;
   background-color: transparent;
   text-decoration: none;
 }

.dark .navbar {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1;
  background-color: #1b1919;
  border-bottom: 4px solid #cc2e2e; 
  padding: 1rem 2rem;
 }

.dark .navbar-content {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  align-items: center;
}

 .dark .nav-link:link {
   color: white;
   background-color: transparent;
   text-decoration: none;
 }
 
 .dark .nav-link:visited {
   color: white;
   background-color: transparent;
   text-decoration: none;
 }
 
 .dark .nav-link:hover {
   color: red;
   background-color: transparent;
   text-decoration: none;
 }
 
 .dark .nav-link:active {
   color: red;
   background-color: transparent;
   text-decoration: none;
 }
