*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-color: #30292a;
}

.home-background {
  background-color: #353535;
}

.about-format {

}

.about-background {
  background-color: #30292a;
}

.projects-format {

}

.projects-background {
  background-color: #30292a;
}

.extras-format {

}

.extras-background {
  background-color: #30292a;
}

.contact-background {
  background-color: #30292a;
}

.end-format {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.end-background {
  background-color: #30292a;
}

.navbar {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1;
  background-color: #1b1919;
  border-bottom: 4px solid #cc2e2e; 
  padding: 1rem 2rem;
 }

.navbar-content {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  align-items: center;
}

 .nav-link:link {
   color: white;
   background-color: transparent;
   text-decoration: none;
 }
 
 .nav-link:visited {
   color: white;
   background-color: transparent;
   text-decoration: none;
 }
 
 .nav-link:hover {
   color: red;
   background-color: transparent;
   text-decoration: none;
 }
 
 .nav-link:active {
   color: red;
   background-color: transparent;
   text-decoration: none;
 }
